.main {
    width: 100%;
    margin: 100px 0 0 0;
}

.main h2 {
    margin: 70px 0 70px 40px;
    font-size: 32px;
}

.items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4%
}

@media (max-width: 1000px) {
    .items {
        gap: 3%
    }
}

@media (max-width: 800px) {
    .items {
        gap: 4%
    }
}